.container__paragraph_first-letter_big
{
  &::first-letter{
    font-size: 3.5em;
    font-weight: bold;
    line-height: 0;
    @include middle(){
      line-height: 0.7;
    }
    @include small(){
      line-height: 0.5;
    }
  }
}
