.image__title_size_1
{
  font-size: 4em;
  @include middle(){
    font-size: 3.2em;
  }
  @media only screen and (max-width: 500px) {
    font-size: 2.8em;
  }
  @include small(){
    font-size: 2.0em;
  }
}
