.container__column-right
{
  box-sizing: border-box;
  position: absolute;
  max-width: 400px;
  width: 35%;
  right: 40px;
  font-size: 0.8em;
  float: right;
  margin: 0;
  padding: 5px 0 5px 10px;
  clear: both;
  @include middle(){
    position: relative;
    float: none;
    right: 0;
    margin: 0 auto;
    width: auto;
  }
  @include small(){
    margin-left: 5%;
    margin-right: 5%;
  }
}
