.image__author
{
  position: relative;
  display: block;
  color: white;
  bottom: 55px;
  z-index: 2;
  margin-left: 5%;
  margin-right: 5%;
  @include middle(){
    font-size: 0.8em;
  }
  @include small(){
    font-size: 0.8em;
  }
}
