.image__author
{
  position: absolute;
  display: block;
  color: white;
  bottom: 15px;
  right: 0;
  left: 0;
  z-index: 2;
  margin-left: 5%;
  margin-right: 5%;
  @include middle(){
    font-size: 0.8em;
  }
  @include small(){
    font-size: 0.8em;
  }
}
