.image
{
  background: no-repeat center center;
  @media screen and (min-device-width: 1024px){
    background-attachment: fixed;
  }
  background-size: cover;
  position: relative;
  width: 100%;
  height: 80vh;
  text-align: center;
  vertical-align: middle;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    background-color: transparent;
    background-color: rgba(0,0,0,0.2);
    //opacity: 0.2;
    width: 100%;
    height: 100%;
  }
}
body{
  font-family: 'PT Serif', serif;
  //overflow-x: hidden;
}